<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.juanyi.feng"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name= "android.permission.ACCESS_COARSE_LOCATION" /> 
    <uses-permission android:name= "android.permission.ACCESS_FINE_LOCATION" />
    

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name=".welcomeActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RestaurantActivity" >
        </activity>
        <activity
            android:name=".RestaurantList" >
        </activity>
        <activity
            android:name=".MovieActivity" >
        </activity>
        <activity
            android:name=".CustomizeActivity" >
        </activity>
        <activity
            android:name=".TabLayoutActivity" >
        </activity>
         <activity
            android:name=".eventSelectionActivity" >
        </activity>
        <activity
            android:name=".GroupInfoActivity" >
        </activity>
         <activity
            android:name=".ChatTesterActivity" >
        </activity>
    </application>

</manifest>